# Project exclude paths
/.gradle/
/build/
/out/
/out/production/classes/
/src/main/java/caffeine/
/src/main/java/coffee/company/life/
/src/main/java/File/
/src/main/java/functional/
/src/main/java/manager/
/src/main/java/namusori/
/src/main/java/stream/
/src/main/java/study/
/src/main/java/test.java
